@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

body {
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  background-color: #000038;
  color: #fff;
  margin: 0;
}

* {
	font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
}

/* Add this CSS to your existing stylesheet */
.example {
  display: flex;
  justify-content: space-between;
}

.booked-seats,
.available-seats {
  text-align: center;
  display: flex;
  justify-content: space-between;
}


.seat-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.seat {
  background-color: #6c757d;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seat.booked {
  background-color: #dc3545;
}

.seat.selected {
  background-color: #007bff;
}

.seat:hover:not(.booked) {
  transform: scale(1.05);
}

.ticket-info {
  margin-top: 20px;
}

.button {
  margin-top: 10px;
}





.ticket-info {
  color: white;
}





.movie-container {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row
}
.film-poster{
    height: 150px;
    width: 100px;
}
.movie-container select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  padding: 5px 15px;
  margin-bottom: 40px;
  font-size: 14px;
  border-radius: 5px;
}
.movie-details-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  width: 100%;
}
.container {
  perspective: 1000px;
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.screen h3{
  color: white;
}
.seat {
  background-color: #dc1d9d;
  height: 30px;
  width: 30px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.button{
  background-color: rgb(46, 151, 46);
  border: 0;
  border-radius: 20px;
  width: 170px;
  color: white;
}




