body {
  font-family: Arial, sans-serif;
  background: rgb(0, 0, 56);
  background: -moz-linear-gradient(
    100deg,
    rgba(0, 0, 56, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    100deg,
    rgba(0, 0, 56, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    100deg,
    rgba(0, 0, 56, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000038",endColorstr="#000000",GradientType=1);
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 90px auto;
  padding: 20px;
  background: rgb(0,0,56);
  background: -moz-linear-gradient(100deg, rgba(0,0,56,1) 0%, rgb(49, 7, 43) 100%);
  background: -webkit-linear-gradient(100deg, rgba(0,0,56,1) 0%, rgba(70,10,61,1) 100%);
  background: linear-gradient(100deg, rgba(0,0,56,1) 0%, rgba(70,10,61,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000038",endColorstr="#460a3d",GradientType=1);
  border-radius: 5px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h2 {
  text-align: center;
  color: white;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2d2d86;
  color: white;
}

.form-group input[type="text"]::placeholder,
.form-group input[type="password"]::placeholder {
  color: #ccc;
}

.form-group button {
  width: 100%;
  padding: 10px;
  padding: right 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff9800;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #ff5722;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
p {
    color: rgb(121, 128, 133);
    font-size:small;
    margin-bottom: 20px;
    margin-left: 95px;
}

a {
    color: #FF9800;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}   