{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Selection</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/booking_page_styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    <div class="container">
        <h2>Seat Selection</h2>
        <div class="movie-details-container">
            <img src="{{ screening.screen_movie.poster.url }}" alt="{{ screening.screen_movie.title }} Poster" class="film-poster">
            <p>Movie: {{ screening.screen_movie.title }}</p>
            <p>Price: {{ screening.amount }}</p>
            <p>Screening Date: {{ screening.screening_date }}</p>
            <p>Show Time: {{ screening.screening_starts }}</p>
            <p>Auditorium: {{ screening.auditorium_tbl.name }}</p>
            <p>Capacity: {{ screening.auditorium_tbl.capacity }}</p>
        </div>
        <div class="screen">
            <h3>Screen</h3>
        </div>
        <!-- Generate seat layout dynamically -->
        <div class="seat-layout">
            {% for row in seat_layout %}
                <div class="row">
                    {% for seat in row %}
                        {% if seat.is_booked %}
                            <div class="seat booked" disabled>{{ seat.name }}</div>
                        {% else %}
                            <div class="seat available" onclick="selectSeat('{{ seat.name }}', {{ seat.price }})">{{ seat.name }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        
        <div class="ticket-info">
            <h3>Selected Seats</h3>
            <ul id="selected-seats"></ul>
            <p>Total Amount: <span id="total-amount">0</span></p>
            <form id="booking-form" method="post" action="{% url 'confirm_booking' %}">
                {% csrf_token %}
                <input type="hidden" name="selected_seats" id="selected-seats-input">
                <input type="hidden" name="total_amount" id="total-amount-input">
                <button type="submit" class="button">Confirm Booking</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/seat_selection.js' %}"></script>
    {% endblock %}
</body>
</html>
